curs1/.idea curs2/.idea
curs10/curs10-code/.idea curs11/curs11-code/.idea curs11/curs11-extramile/.idea curs11/curs11-homework/.idea curs12/curs12-code/.idea curs2/variables/.idea curs3/curs3-idea/.idea curs4/course-code/.idea curs5/curs5-code/.idea curs6/curs6-code/.idea curs7/curs7-code/.idea curs8/curs8-code/.idea curs9/curs9-code/.idea
curs10/curs10-code/curs10-code.iml curs11/curs11-code/curs11-code.iml curs11/curs11-extramile/curs11-extramile.iml curs11/curs11-homework/curs11-homework.iml curs12/curs12-code/curs12-code.iml curs2/variables/variables.iml curs3/curs3-idea/curs3-idea.iml curs4/course-code/course-code.iml curs5/curs5-code/curs5-code.iml curs6/curs6-code/curs6-code.iml curs7/curs7-code/curs7-code.iml curs8/curs8-code/curs8-code.iml curs9/curs9-code/curs9-code.iml
curs10/curs10-code/out curs11/curs11-code/out curs11/curs11-extramile/out curs12/curs12-code/out curs2/variables/out curs3/curs3-idea/out curs4/course-code/out curs5/curs5-code/out curs6/curs6-code/out curs7/curs7-code/out curs8/curs8-code/out curs9/curs9-code/out
